@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
      font-family: "Work Sans", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }

    /* *{
      margin: 0;
      padding: 0;
    } */
    /* shared style */
    .display-flex{
      display: flex;
    }
    /* dark-02 */
    .text-gray{
      color: #424242;
    }
    /* dark-03 */
    .text-light-gray{
      color: #727272;
    }

    .bg-light{
      background-color: rgba(255, 144, 14, 0.1);
      width: 100%;
    }
    .button-primary{
      background-color: #ff900e;
      color: white;
      padding: 20px 25px;
      font-size: 1.25rem;
      font-weight: 600;
      border: none;
      border-radius: 8px;

    }
    /* header style */

    /* navbar related style */
    .navbar{
      justify-content: space-between;
      align-items: center;
      width: 85%;
      margin: auto;

    }
    .nav-link{
      text-decoration: none;
      display: flex;
      justify-content:center;
      align-items: center;
      gap: 20px;
    }
    .nav-item{
      list-style: none;
      /* margin-right: 40px; */
    }
    .brand{
      font-weight: 700;
      font-size: 2.8rem;
      align-items: center;
    }
    /* banner related style */
    .banner-content{
      max-width: 850px;
      margin: 0px auto;
      text-align: center;
      margin-bottom: 50px;
    }
    .banner-img{
      width: 70%;
      margin: auto;
      justify-content: center;
    }
    /* .banner-image{
      justify-content: center;
    } */
    .banner-title{
      font-weight: 700;
      font-size: 4rem;
    }
    /* responsive media query */
    @media screen and (max-width:576px) {
      .nav-link, .navbar{
        flex-direction: column;
      }
      .banner-title{
        font-size: 2.8rem;
        font-weight: 500;
      }
      .brand{
        font-weight: 600;
        font-size: 2.3rem;
      }
      .banner-description{

      }
    }